$yellow: #cbe346;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueThin.eot');
    src: url('./font/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueThin.woff2') format('woff2'),
        url('./font/HelveticaNeueThin.woff') format('woff'),
        url('./font/HelveticaNeueThin.ttf') format('truetype'),
        url('./font/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueMedium.eot');
    src: url('./font/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueMedium.woff2') format('woff2'),
        url('./font/HelveticaNeueMedium.woff') format('woff'),
        url('./font/HelveticaNeueMedium.ttf') format('truetype'),
        url('./font/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueRegular.eot');
    src: url('./font/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueRegular.woff2') format('woff2'),
        url('./font/HelveticaNeueRegular.woff') format('woff'),
        url('./font/HelveticaNeueRegular.ttf') format('truetype'),
        url('./font/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueBold.eot');
    src: url('./font/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueBold.woff2') format('woff2'),
        url('./font/HelveticaNeueBold.woff') format('woff'),
        url('./font/HelveticaNeueBold.ttf') format('truetype'),
        url('./font/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueLight.eot');
    src: url('./font/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueLight.woff2') format('woff2'),
        url('./font/HelveticaNeueLight.woff') format('woff'),
        url('./font/HelveticaNeueLight.ttf') format('truetype'),
        url('./font/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueBlackCond.eot');
    src: url('./font/HelveticaNeueBlackCond.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('./font/HelveticaNeueBlackCond.woff') format('woff'),
        url('./font/HelveticaNeueBlackCond.ttf') format('truetype'),
        url('./font/HelveticaNeueBlackCond.svg#HelveticaNeueBlackCond') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueBold_1.eot');
    src: url('./font/HelveticaNeueBold_1.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueBold_1.woff2') format('woff2'),
        url('./font/HelveticaNeueBold_1.woff') format('woff'),
        url('./font/HelveticaNeueBold_1.ttf') format('truetype'),
        url('./font/HelveticaNeueBold_1.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueLight_1.eot');
    src: url('./font/HelveticaNeueLight_1.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueLight_1.woff2') format('woff2'),
        url('./font/HelveticaNeueLight_1.woff') format('woff'),
        url('./font/HelveticaNeueLight_1.ttf') format('truetype'),
        url('./font/HelveticaNeueLight_1.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueItalic.eot');
    src: url('./font/HelveticaNeueItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueItalic.woff2') format('woff2'),
        url('./font/HelveticaNeueItalic.woff') format('woff'),
        url('./font/HelveticaNeueItalic.ttf') format('truetype'),
        url('./font/HelveticaNeueItalic.svg#HelveticaNeueItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueHeavy.eot');
    src: url('./font/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueHeavy.woff2') format('woff2'),
        url('./font/HelveticaNeueHeavy.woff') format('woff'),
        url('./font/HelveticaNeueHeavy.ttf') format('truetype'),
        url('./font/HelveticaNeueHeavy.svg#HelveticaNeueHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./font/HelveticaNeueMedium_1.eot');
    src: url('./font/HelveticaNeueMedium_1.eot?#iefix') format('embedded-opentype'),
        url('./font/HelveticaNeueMedium_1.woff2') format('woff2'),
        url('./font/HelveticaNeueMedium_1.woff') format('woff'),
        url('./font/HelveticaNeueMedium_1.ttf') format('truetype'),
        url('./font/HelveticaNeueMedium_1.svg#HelveticaNeueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: 'HelveticaNeue';
    font-weight: 300;
    font-size: 18px;
    color: #787878;
}
h1, h2, h3,
h4, h5, h6 {
    font-weight: 300;
    color:#000;
}
h1 {
    font-size: 2.5rem;
}

h2 {

    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {	
    font-size: 1.25rem;
}

h6 {
    font-size: 1.05rem;
}
p {
    line-height: 1.78;
    letter-spacing: 0.51px;
}
/*** M E N U  ***/
header nav {
    position: absolute;
	width:90%;
	max-width:1000px;
	margin:20px 150px;
    & ul {
        overflow:hidden;
        list-style:none;
    }
    & ul li {
        float:left;
        a {
            color:#fff;
            padding:20px;
            display:block;
            text-decoration:none;
            font-size: 16px;
            letter-spacing: 1.4px;
            font-weight: 300;
            line-height: 30px;;
        }
    }
    & ul li span {
        margin-right:10px;
    }
    & ul li a:hover:after {
        content: ' ';
        font-weight: bold !important;
        width: 17px;
        height: 1px;
        background: #fff;
        border: 1px solid #fff;
        display: block;
    }
    & ul li a.active{
        font-weight: bold;
    }
    & ul li a.active:after {
        content: ' ';
        font-weight: bold !important;
        width: 17px;
        height: 1px;
        background: #fff;
        border: 1px solid #fff;
        display: block;
    }
}
 
.menu_bar {
	display:none;
}

section {
	padding:20px;
}
.logo {
    position: absolute;
    top: 30px;
    left: 50px;
}
.idioma {
    position: absolute;
    top: 50px;
    right: 50px;
    & a{
        color: #fff;
        font-size: 13px;
        letter-spacing: 1.14px;
        text-decoration: none;
        padding: 0px 10px;
    }
}
.idioma-menu {
    display: none;
}
/*** G E N E R A L E S  ***/
.contenedor {
    width: 992px;
    margin: auto;
}
.centrado{
    display: flex;
    align-items: center;
    height: 100vh;
}
.btn-borde {
    border-radius: 3em; 
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 1.01px;
    margin-top: 50px;
    &::after {
        content:'\f178';
        font-family:'FontAwesome';
        font-weight: bold;
        padding-left: 20px;;
    }
}
.btn-borde-b{
    border-radius: 3em; 
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    padding: 15px 38px;
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 1.01px;
    margin-top: 50px;
    &::after {
        content:'\f178';
        font-family:'FontAwesome';
        font-weight: bold;
        padding-left: 30px;;
    }
}
.bg-gris {
    background-color: #f3f4f8;
}
/*** B A N N E R 1 ***/
.banner1 {
    width: 100%;
    height: 90vh;
    display: block;
    background-image: url('../img/group.png');
    background-size: cover;
    background-position: top right;
    display: flex;
    align-items: center;
    & div {
        padding-left: 150px;  
    }
    & .linea {
        width: 1px; background-color:transparent; height: 100%; float: left; border-right: 3px ridge #fff; border-radius: 2px;

    }
    & h1.principal {
        color: #fff;
        font-size: 53px;
        font-weight: 300 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: -0.05px;
        & span {
            color: $yellow;
            font-weight: bold;
        }
    }
}

/***  C O L U M N A S  ***/
.wrap {
    max-width: 100%;
    margin: 0 auto;
}
.wrap1{
    padding: 50px;
}

.col--group > .row {
margin-bottom: 0;
}
  
.row {
display: flex;
flex: 0 1 auto;
flex-direction: column;
flex-wrap: wrap;

@media only screen and (min-width: 640px) {
    flex-direction: row;
}
}

.col {
flex: 0 0 auto;
padding: 0 12px;
flex-basis: 100%;
max-width: 100%;
}
  
.col--1of3,
.col--2of6 {
@media only screen and (min-width: 640px) {
        flex-basis: 33.3333333%;
        max-width: 33.3333333%;
    }
}

.col--2of3,
.col--4of6 {
@media only screen and (min-width: 640px) {
        flex-basis: 66.6666667%;
        max-width: 66.6666667%;
    }
}

.col-end{
    display: flex;
    margin-top: auto;
    justify-content: center;
  }

/***  B L O Q U E   1 ***/
.title-yellow {
    color: $yellow;
    letter-spacing: 1.87px;
    text-align: right;
}

/*** B L O Q U E 2 ***/
.slideText { 
    background-image: url('../img/ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.pad-top {
    padding: 20px 15px;
}

.carrusel {display: block;}
.slide-content {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    width:50px;
    height:50px;
    border: 1px solid #fff;
    margin: 5px;
    padding:8px 18px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:25px;
    line-height:30px;
    text-transform: uppercase;
    float:left;
    transition: 0.6s ease;
    user-select: none;
    color: #fff;
    font-weight: 300;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    &.active {
        background-color: $yellow;
    }
}

.prev:hover, .next:hover {
    background-color:$yellow;
}
.text {
    padding: 75px 12px 15px 80px;;
    width: 100%;
    & h1 {
        color: #fff;
    }
    & p {
        color: #fff;
    }
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    &.active, &:hover{
        background-color: $yellow;
    }

}

.antes-despues {
    display: block;
    margin: auto;
    text-align: center;
    width: 40%;
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus{
        outline: none;
    }
    &.dragging{
        cursor: pointer;
        cursor: hand;
    }
}


.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    &img{
        display: block;
    }
    &.dragging img{
        pointer-events: none;
    }
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.number {
    position: absolute; 
    z-index: 10;
    background:red;
    margin: 10px;
    padding:  7px 13px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: $yellow;
    color: #fff;
}

/*** B L O Q U E   3 ***/
.banner2 {
    width: 100%;
    height: 60vh;
    background-image: url('../img/atleta.png');
    background-position: left;
    background-size: cover;
    background-attachment:  fixed;
}

/*** F O O T E R ***/
footer{
    background-color: $yellow;
    color: #000;
    width: 100%;
    padding: 65px;
    font-size: 13px;
    position: relative;
    & a {
        letter-spacing: 1.14px;
        color: #2b3049;
        text-decoration: none;
        padding: 5px 30px;
    }
    & a.activo {
        font-weight: bold !important;
    }
    & .redessociales {
        padding: 35px 25px 0;
        & img {
            padding: 0px 5px;
        }
    }
}
.logo-footer img {
    position: absolute;
    bottom: 70px;
    right: 35px;
}

  
 
@media screen and (max-width:800px ) {
    header {
        position: fixed;
        width: 100%;
        z-index: 999;
    }
	header nav {
		width:80%;
		height:100%;
        right:-100%;
        background: rgba(0,0,0,.5);
		margin:0;
        position: fixed;
        & ul li {
            display:block;
            float:none;
            border-bottom:1px solid #fff;
            & a {
                color: #fff;
            }
        }
	}
    .logo {
        display: none;
    }
    .idioma{
        display: none;
    }
    .idioma-menu {
        display: block;
    }
	.menu_bar {
		display:block;
		width:100%;
        background: rgba(0,0,0,.5);
        & span {
            float:right;
		font-size:30px;
        }
        & .bt-menu {
            display:block;
            padding:20px;
            background:rbga(0,0,0,.5);
            color:#fff;
            text-decoration:none;
            font-weight: bold;
            font-size:25px;
            box-sizing:border-box; 
        }
	}
}
@media screen and (max-width:640px ) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
    
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.12rem;
    }
    
    h5 {	
        font-size: 1.05rem;
    }
    
    h6 {
        font-size: 1rem;
    }

    .banner1 {
        width: 100%;
        height: 85vh;
        background-position: center;
        & div {
            padding-left: 30px;  
        }
        & .linea {
            display: none;
    
        }
        & h1.principal {
            color: #fff;
            font-size: 53px;
            font-weight: 300 !important;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: -0.05px;
            & span {
                color: $yellow;
                font-weight: bold;
            }
        }
    }
    .wrap1 {
        padding: 20px;
    }
    .slide-content {
        width: 100%;
    }
    .text {
        padding: 75px 12px 15px 30px;
    }
 
    footer{
        padding: 65px 15px;
        & a {
            width: 100%;
            display: block;
            text-align: center;
        }
        & .redessociales {
            width: 100%;
            text-align: center;
        }
    }
    .logo-footer{
        display: block;
        width: 100%;
        padding: 20px;
        text-align: center;
        & img {
            position: inherit !important;
        }
    }
}